body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.nav-bar {
    position: fixed;
    padding: 1.25rem;
    height: 100vh;
}

.menu-child-container {
    height: 800px;
}

.nav-bar .menu-child-container {
    gap: 0.5rem;
}

.nav-bar .menu-item {
    gap: 0.7rem;
    border-radius: 10px;
    transition: all 0.3s;
    padding: 14px;
}


.nav-bar .menu-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.menu-icon {
    transition: all 0.2s;
}

.nav-bar .menu-item:hover>.menu-icon {
    scale: 1.1;
}

.feed-container {
    max-width: 630px;
    height: 2000px;
}

.profile-container {
    padding-left: 64px;
}